<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Qatar Airways</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/buyticket.js"></script>
</head>
<body>
<div id="ticketCreateStatus" class="center">

</div>
<div class="center">
    <div class="center col-md-3">
        <label for="lastName">Фамилия</label>
        <input type="text" class="form-control" name="lastName" id="lastName"/>
    </div>
    <div class=" center col-md-3">
        <label for="firstName">Имя</label>
        <input type="text" class="form-control" name="firstName" id="firstName"/>
    </div>
    <div class="center col-md-3">
        <label for="patronym">Отчество</label>
        <input type="text" class="form-control" name="patronym" id="patronym"/>
    </div>
    <div class="center col-md-3">
        <label for="passportNumber">Пасспорт</label>
        <input type="text" class="form-control" name="passportNumber" id="passportNumber"/>
    </div>
    <div class="center col-md-3" id="flightPriceSelect">
    </div>
    <div class="center col-md-3" id = "sitSelect">
    </div>
    <div class="center col-md-3" style="text-align: right;">
        <input type="button" class="btn btn-primary" value="Оформить" onclick="createTicket()">
    </div>
</div>
</body>
</html>