<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Qatar Airways</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script type="text/javascript" src="../js/user/usermain.js"></script>
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/user/buyticket.js"></script>
</head>
<body>
<div>
    <nav class="top-menu">
        <img src="../images/Logo-Qatar-Airways.jpg" width="200" height="80">
        <ul class="menu-main">
            <li><p id="userName"></p></li>
            <li><p><a href="/user">Главная</a></p></li>
        </ul>
    </nav>
</div>
<div id="ticketCreateStatus" class="center">

</div>
<div class="center">
    <div class="center col-md-3" id="flightPriceSelect">
    </div>
    <div class="center col-md-3" id = "sitSelect">
    </div>
    <div class="center col-md-3" style="text-align: right;">
        <input type="button" class="btn btn-primary" value="Оформить" onclick="createTicket()">
    </div>
</div>
</body>
</html>