<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Qatar Airways</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script type="text/javascript" src="../js/user/username.js"></script>
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/user/searchFlight.js"></script>
</head>
<body>
<div>
    <nav class="top-menu">
        <img src="../images/Logo-Qatar-Airways.jpg" width="200" height="80">
        <ul class="menu-main">
            <li><p><a href="/user">Главная</a></p></li>
            <li><p id="userName"></p></li>
        </ul>
    </nav>
</div>
<div id="flights" class="center">
</div>
</body>
</html>