<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Flight</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript">
        $(function () {
            loadFlights();
        })
    </script>
</head>
<body style="background-color: aliceblue">
<div>
    <nav class="top-menu">
        <a class="navbar-logo" href=""><img src="images/brand.gif" width="100" height="80"></a>
        <ul class="menu-main">
            <li><a href="">Work</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Story</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Войти</a></li>
        </ul>
    </nav>
</div>
<div class="center">
    <div class="form">
        <div id="flights" class="center">
        </div>
    </div>
</div>
</body>
</html>